<!doctype html>
<html lang="en">
  <head>
    <style>
      #container {width:100%; height: 640px; }
    </style>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=576a871f42566481a9afb60c684b4ab4"></script>
    <title>杭州新房销售摇号地图</title>
  </head>
  <body>
    <div id="controllers">
      <div>
        <table border="0">
          <tr>
            <td><img src="/static/icon/red_x.png"></img></td>
            <td>需摇号</td>
            <td><img src="/static/icon/blue_x.png"></img></td>
            <td>无需摇号</td>
            <td><img src="/static/icon/green_x.png"></img></td>
            <td>待摇号</td>
          </tr>
        </table>

      </div>
      <div>
        <b>选择月份： </b>
        <select id='monthSelect' onchange="onSelectChanged()"></select>
        <b>选择区域： </b>
        <select id='areaSelect' onchange="onSelectChanged()"></select>
      </div>
    </div>
    <div id="container"></div>
    <script type="text/javascript">

      function drawEstatePoints(map, infoArray) {
        function getIconColor(lotteryState, percentHit) {
          //console.log(lotteryState);
          //console.log(lotteryState == '方案公示');
          if (lotteryState == '摇号完成') {
            if (percentHit == '无需摇号') {
              return 'blue';
            }
            else {
              return 'red';
            }
          }
          else {
            return 'green';
          }
        }

        function getIconPath(info) {
          var iconDir = '/static/icon/'
          var color = getIconColor(info.lotteryState, info.percentHit);
          var unitPrice = 'x';
          found = info.unitPrice.match(/(\d{4,5})/);
          if (found == undefined) {
            console.log(info.name);
            return iconDir + color + '_' + unitPrice + '.png';
          }
          if (found.length > 1) {
            //console.log(found);
            unitPrice = (parseFloat(found[0])/10000).toString();
            unitPrice = unitPrice[0];
          }
          return iconDir + color + '_' + unitPrice + '.png';
        }

        function drawPoint(map, info) {
          if (info.location.latitude == '') {
            return;
          }
          var oriLnglat = [info.location.longitude, info.location.latitude];
          var newLnglat;
          AMap.convertFrom(oriLnglat, 'baidu',
            function (status, result) {
              if (result.info === 'ok') {
                newLnglat = result.locations[0];
                //console.log(newLnglat);
                iconPath = getIconPath(info);
                addMark(map, [newLnglat.getLng(), newLnglat.getLat()], info.name + '\n\n' + info.title, iconPath);
              }
            });
        }

        function addMark(map, posi, title, iconPath) {
          var marker = new AMap.Marker(
            {
              position: posi,
              title: title,
              icon: iconPath
            }
          );
          markers.push(marker);
          map.add(marker);
        }


        infoArray.forEach(
          function(info) {
            drawPoint(map, info);
          }
        );
      }

      function formatEstateInfo(info) {
        var formatedInfo = info;
        var saleNumber = info.saleNumber.match(/\d+/g).join('-');
        formatedInfo.saleSimpleNumber = saleNumber;
        if (info.lotteryState == '摇号完成') {
          if (info.percentHit == '' || info.percentHit == '/') {
            formatedInfo.percentHit = "无需摇号";
          }
          else {
            formatedInfo.percentHit = info.percentHit;
          }
        }
        else {
          formatedInfo.percentHit = "待摇号";
        }
        formatedInfo.title = saleNumber + '\n' +
          info.month + '\n' +
          info.unitPrice + '\n' +
          info.fitmentCost + '\n' +
          formatedInfo.percentHit;
        return formatedInfo;
      }
      function groupByEstateName(infos) {
        var infosGrouped = {};
        infos.forEach(function(info) {
          if (infosGrouped.hasOwnProperty(info.name)) {
            infosGrouped[info.name].push(info);
          }
          else {
            infosGrouped[info.name] = [info];
          }
        });
        return infosGrouped;
      }
      function mergeInfoInOneGroup(group) {
        if (group.length == 0) {
          return []
        }
        else if (group.length == 1) {
          return group[0];
        }
        else {
          var mergedInfo;
          group.sort(function(info1, info2) {
            if (info1.saleSimpleNumber < info2.saleSimpleNumber) {
              return -1;
            }
            else {
              return 1;
            }
          }).forEach(function(info) {
            if (mergedInfo == undefined) {
              mergedInfo = info;
            }
            else {
              mergedInfo.lotteryState = info.lotteryState;
              mergedInfo.unitPrice = info.unitPrice;
              mergedInfo.percentHit = info.percentHit;
              mergedInfo.title = mergedInfo.title + '\n\n' + info.title;
            }
          });
        }
        return mergedInfo;
      }

      function pickupJsonDataAndFormat(jsonData) {
        var selectObj = document.getElementById("monthSelect");
        var month = selectObj.options.item(selectObj.selectedIndex).text;

        months = [month];

        pickedUpJsonData = {};
        for (let [key, value] of Object.entries(jsonData) ) {
          if (months.find(function (m) { return m == key}) != undefined) {
            pickedUpJsonData[key] = value;
          }
        }

        formatedInfos = Object.values(pickedUpJsonData).map(function(monthEntry) {
          return monthEntry.infos.map(function(info) {
            info.month = monthEntry.year.toString() + monthEntry.month.toString().padStart(2, '0');
            return info;
          });
        }).flat().map(function(info) {
          return formatEstateInfo(info);
        });
        groups = groupByEstateName(formatedInfos);
        //console.log(groups);
        mergedInfos = Object.values(groups).map(function(group) {
          return mergeInfoInOneGroup(group);
        });
        return mergedInfos;
      }

      function filterByArea(infoArray) {
        var selectObj = document.getElementById("areaSelect");
        var area = selectObj.options.item(selectObj.selectedIndex).text;
        var areas = [];
        if (area == '全市') {
          return infoArray;
        }
        else if (area == '主城区') {
          areas = mainCityAreas;
        }
        else {
          areas = [area];
        }

        return infoArray.filter(function(info) {
          if (info.distArea == '') {
            console.log('No area info for ' + info.name);
            return false;
          }
          if (areas.find(function(a) { return a == info.distArea;}) != undefined) {
            return true;
          }
          else {
            return false;
          }
        });
      }

      function fillMonthSelect(months) {
        var selectObj = document.getElementById("monthSelect");
        months.forEach(function(month) {
          var op = document.createElement("option");
              op.text = month;
              selectObj.options.add(op)
        });
        selectObj.options.item(months.length-1).selected = "selected";
      }

      function fillAreaSelect() {
        var selectObj = document.getElementById("areaSelect");
        areaOptions.forEach(function(area) {
          var op = document.createElement("option");
              op.text = area;
              selectObj.options.add(op)
        });
        selectObj.options.item(0).selected = "selected";
      }

      function onSelectChanged() {
        infoArray = pickupJsonDataAndFormat(gJsonData);
        filteredInfoArray = filterByArea(infoArray);
        map.remove(markers);
        drawEstatePoints(map, filteredInfoArray);
      }

      var areaOptions = ['全市', '主城区', '余杭', '临安', '富阳', '萧山'];
      var mainCityAreas = ['西湖', '拱墅', '上城', '下城', '滨江', '江干', '之江', '下沙', '大江东', '钱塘新区'];
      fillAreaSelect();
      var map = new AMap.Map('container', {
        zoom:10,//级别
        center: [120.163302,30.271009]//中心点坐标
      });
      var markers = [];

      var gJsonData = {};
      var request = new XMLHttpRequest();
      request.onreadystatechange = function (){
        if (request.readyState === 4) {
          if (request.status === 200 || request.status === 304 ) {
            var jsonData = JSON.parse(request.responseText);
            gJsonData = jsonData;
            fillMonthSelect(Object.keys(jsonData));
            infoArray = pickupJsonDataAndFormat(jsonData);
            filteredInfoArray = filterByArea(infoArray);
            drawEstatePoints(map, filteredInfoArray);
          }
        }
      };
      request.open('GET', './static/json/estateSaleInfo.json');
      request.send();

    </script>
  </body>
</html>