<!doctype html>
<html lang="en">
  <head>
    <style>
      #container {width:100%; height: 640px; }
    </style>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=576a871f42566481a9afb60c684b4ab4"></script>
    <title>杭州新房销售摇号地图</title>
  </head>
  <body>
    <div id="container"></div>
    <script type="text/javascript">

      function drawEstatePoints(map) {
        function getIconColor(lotteryState, percentHit) {
          //console.log(lotteryState);
          //console.log(lotteryState == '方案公示');
          table = {
            '摇号完成': ''
          };
          if (lotteryState == '摇号完成') {
            if (percentHit == '' || percentHit == '/') {
              return 'blue';
            }
            else {
              return 'red';
            }
          }
          else {
            return 'green';
          }
        }

        function getIconPath(info) {
          var iconDir = '/static/icon/'
          var color = getIconColor(info.lotteryState, info.percentHit);
          var unitPrice = 'x';
          found = info.unitPrice.match(/(\d{4,5})/);
          if (found.length > 1) {
            console.log(found);
            unitPrice = (parseFloat(found[0])/10000).toString();
            unitPrice = unitPrice[0];
          }
          return iconDir + color + '_' + unitPrice + '.png';
        }

        function drawPoint(info) {
          if (info.location.latitude == '') {
            return;
          }
          var oriLnglat = [info.location.longitude, info.location.latitude];
          var newLnglat;
          AMap.convertFrom(oriLnglat, 'baidu',
            function (status, result) {
              if (result.info === 'ok') {
                newLnglat = result.locations[0];
                //console.log(newLnglat);
                iconPath = getIconPath(info);
                addMark(map, [newLnglat.getLng(), newLnglat.getLat()], formatTitle(info), iconPath);
              }
            });
        }

        function formatTitle(info) {
          return info.name + '\n' +
                  info.unitPrice + '\n' +
                  info.percentHit;
        }

        function addMark(map, posi, title, iconPath) {
          var marker = new AMap.Marker(
            {
              position: posi,
              title: title,
              icon: iconPath
            }
          );
          map.add(marker);
        }

        var request = new XMLHttpRequest();
        request.onreadystatechange = function (){
          if (request.readyState === 4) {
            if (request.status === 200 || request.status === 304 ) {
              var dates = JSON.parse(request.responseText);
              dates['202001'].infos.forEach(
                function(info) {
                  drawPoint(info);
                }
              );
            }
          }
        };
        request.open('GET', './static/json/estateSaleInfo.json');
        request.send();
      }

      var map = new AMap.Map('container', {
        zoom:10,//级别
        center: [120.163302,30.271009]//中心点坐标
      });
      drawEstatePoints(map)
    </script>
  </body>
</html>